*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "html/home";
@import "html/text";
@import "html/main";
@import "html/cards";
@import "html/nosotros";
@import "html/form";
@import "html/producto";
@import "html/mq";
