.main__section--nosotros {
    display: flex;
    justify-content: center; }
  
  .div__img--isisstore {
    text-align: center; }
  
  .div__img--isis {
    text-align: center; }
  
  .div__img--isisstore img {
    width: 40%;
    border-radius: 50%;
    box-shadow: -1px 1px 4px 1px rgba(92, 61, 177, 0.938); }
  
  .div__img--isis img {
    width: 40%;
    border-radius: 50%;
    box-shadow: -1px 1px 4px 1px rgba(92, 61, 177, 0.938); }
  